[Desktop Entry]
Name=Logout
Exec=loginctl terminate-user $USER
Categories=Session Management
Icon=~/.config/wlogout/icons/logout.png
Version=1.0
Type=Application
Terminal=false

