[Desktop Entry]
Name=Shutdown
Exec=systemctl poweroff
Categories=System;
Icon=org.arkady.shutdown
OnlyShowIn=Hyprland;
Version=1.0
Type=Application
Terminal=false

