[Desktop Entry]
Name=Virtual Machines
Comment=Pick a virtual machine and connect to it
Exec=vm menu
Icon=org.arkady.vm
OnlyShowIn=Hyprland;
Categories=System;
Version=1.0
Type=Application
Terminal=false
