[Desktop Entry]
Name=Reboot
Exec=systemctl reboot
Categories=System;
Icon=org.arkady.reboot
OnlyShowIn=Hyprland;
Version=1.0
Type=Application
Terminal=false
Keywords=Restart;Reboot
