[Desktop Entry]
Name=Shutdown
Exec=systemctl poweroff
Categories=Session Management
Icon=~/.config/wlogout/icons/shutdown.png
Version=1.0
Type=Application
Terminal=false

