[Desktop Entry]
Name=ClamAV Threat Manager
Exec=kitty -T "Antivirus" /etc/clamav/threat-manager.sh
Categories=System;Security;
Icon=org.arkady.threat-manager
OnlyShowIn=Hyprland;
Version=1.0
Type=Application
Terminal=false
